<div class='mt-10'>
    <form method='POST' action=''>
        <div class='mb-3'>
            <label for='search-input' class='form-label'>Nhập từ khóa</label>
            <input
                type='text'
                name='q'
                class='form-control'
                id='search-input'
                aria-describedby='emailHelp'
            />
            <input
                type='text'
                name='gender'
                class='form-control'
                id='search-input'
                aria-describedby='emailHelp'
            />
        </div>

        <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
    </form>
</div>